@import "../../styles/global";
@import "../../styles/colors";

.textImage {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: $color-text-primary;
  padding: 0 15px 10px;
  &__title {
    width: 100%;
    padding-bottom: 20px;
  }
  &__text {
    .markdown-format {
      a {
        color: $color-brand;
      }
    }
    
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  &__image {
    max-height: 350px;
    object-fit: cover;
    border-radius: 16px;
  }
  &__video {
    height: 300px;
    iframe {
      border-radius: 16px;
      height: 100%;
      width: 100%;
    }
  }
  .markdown-format {
    ul {
      li {
        display: flex;
        align-items: center;
        span {
          margin-right: 16px;
          height: 30px;
          min-width: 30px;
          border-radius: 50%;
          background-color: $color-secondary;
          display: flex;
          align-items: center;
          justify-content: center;
          svg {
            color: $color-primary;
          }
        }
      }
    }
  }
}

@media (min-width: $md-breakpoint) {
  .textImage {
    padding: 20px;
    &__image {
     margin: auto;
    }
  }
}

@media (min-width: $lg-breakpoint) {
  .textImage {
    padding: 20px 50px 50px;
    &__title {
      padding-bottom: 30px;
    }
    &__text {
      padding: 2rem;
    }
    &__content {
      flex-direction: row-reverse;
      gap: 35px;
      &.imageRight {
        flex-direction: row;
      }
    }
    &__image {
      min-width: 450px;
      max-height: 450px;
    }
    &__video {
      height: 350px;
      min-width: 450px;
    }
  }
}

@media (min-width: $xl-breakpoint) {
  .textImage {
    &__image {
      min-width: 500px;
      max-height: 500px;
    }
    &__video {
      min-width: 550px;
    }
  }
}
