@import "../../styles/global";

.logos {
  li {
    width: 130px;
  }
  &__logos {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__image {
    height: 60px;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  .react-multiple-carousel__arrow {
    min-height: 30px !important;
    min-width: 30px !important;

    &--right {
      right: 0 !important;
    }
    &--left {
      left: 0 !important;
    }
  }

  .react-multi-carousel-list {
    .react-multi-carousel-item {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
  }
}

@media (min-width: $lg-breakpoint) {
  .logos {
    padding-bottom: 3rem;
  }
}
