@import "../../styles/global";

.professionalWrapper {
  padding: 30px 10px;
  border: 1px solid $color-border;
  border-radius: 5px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

.leftContainer, .rightContainer {
  display: flex;
  flex-direction: column;
}


.professional {
  &__image {
    align-self: center;

    img {
      border-radius: 50%;
    }

    width: 100px;
    height: 100px;
    margin-bottom: 15px;
  }

  &__ranking {
    text-align: center;
    margin-bottom: 15px;

    svg {
      color: $color-warning;
      font-size: 22px;
      margin-right: 1px;
    }

    h6 {
      img {
        display: inline;
        margin-right: 7px;
        height: 28px;
      }

      font-weight: 700;
      color: $color-black;
    }
  }

  &__name {
    text-align: center;
    margin-bottom: 20px;
  }

  &__logos {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;

    &_academyLogo {
      height: 25px;

      img {
        height: 100%;
      }
    }

    &_verified {
      height: 25px;
    }
  }

  &__professions {
    font-weight: 500;
    margin-bottom: 15px;
    padding-left: 5px;
  }

  &__services {
    display: flex;

    svg {
      min-width: 35px;
    }

    margin-bottom: 10px;
  }

  &__address {
    a {
      &:hover {
        text-decoration: none;
        color: $color-primary;
      }

      text-decoration: none;
      color: $color-text;
      display: flex;

      svg {
        min-width: 35px;
      }

    }
    margin-bottom: 10px;
  }

  &__information {
    svg {
      min-width: 35px;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      padding: 5px 0;
      display: flex;
      align-items: center;
    }
    &-dates{
      margin: 20px 0;
    }
    &-description{
      margin-bottom: 20px;
    }

    &-contact {
      a {
        text-decoration: none;
        color: $color-text;
        p {
          font-size: 14px;
        }
      }

      a:hover {
        cursor: pointer;
        color: $color-primary;
      }
    }
  }

  &__button{
    display: flex;
    align-items: center;
    padding-top: 20px;
    color: $color-black;
    text-decoration:none;
    svg{
      min-width: 25px;
    }
  }

}

@media (min-width: $md-breakpoint) {
  .professionalWrapper {
    flex-direction: row;

    .leftContainer {
      flex: 1;
    }

    .rightContainer {
      flex: 3;
    }

    .professional {
      &__name {
        text-align: left;
        padding-left: 5px;
      }

      &__information {
        &-dates {
          ul {
            display: flex;
            gap: 5px;
          }
        }

        &-description {
          padding-left: 5px;
        }
        &-contact{
          p{
            padding-left: 5px;
          }
          a{
            p{
              font-size: 16px;
            }
          }
        }

      }
      &__button{
        padding-left: 5px;
      }

      &__button:hover{
        color: $color-text;
        text-decoration: none;
      }

    }

  }
}

@media (min-width: $lg-breakpoint) {
  .professionalWrapper {
    .professional {
      &__information {
        &-dates {
          ul {
            justify-content: start;
            gap: 20px;
          }
        }
        &-contact{
          ul{
            gap: 20px;
          }
        }
      }

    }
  }

}