@import "../../styles/global";

.professionalWrapper {
  padding: 30px 10px;
  border: 1px solid $color-border;
  border-radius: 5px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

.leftContainer, .rightContainer {
  display: flex;
  flex-direction: column;
}


.professional {
  &__image {
    align-self: center;
    img {
      border-radius: 50%;
    }
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
  }
  &__ranking {
    text-align: center;
    margin-bottom: 15px;
    svg {
      color: $color-warning;
      font-size: 22px;
      margin-right: 1px;
    }
    h6 {
      img {
        display: inline;
        margin-right: 7px;
        height: 28px;
      }
      font-weight: 700;
      color: $color-black;
    }
  }
  &__name {
    text-align: center;
    margin-bottom: 15px;
  }
  &__logos {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
    &_academyLogo {
      height: 25px;
      img {
        height: 100%;
      }
    }
    &_verified {
      height: 25px;
    }
  }
  &__professions {
    font-weight: 500;
    margin-bottom: 15px;
    padding-left: 5px;
  }
  &__services {
    display: flex;
    svg {
      min-width: 35px;
    }
    margin-bottom: 10px;
  }
  &__address {
    a {
      &:hover {
        text-decoration: underline;
      }
      text-decoration: none;
      color: $color-primary;
      display: flex;
      svg {
        min-width: 35px;
      }
      margin-bottom: 10px;
    }
  }
}

@media (min-width: $md-breakpoint) {
  .professionalWrapper {
    flex-direction: row;
    .leftContainer {
      flex: 1;
    }
    .rightContainer {
      flex: 3;
    }
    .professional {
      &__name {
        text-align: left;
        padding-left: 5px;
      }
    }
  }
}
