@import "../../styles/global";

.textItemList {
  display: flex;
  flex-direction: column;

  .textItem {
    width: 100%;
    margin-bottom: 3rem !important;

    &__content {
      text-align: center;
      padding: 0 30px;
      line-height: 1.7;
    }

    &__title {
      color: $color-primary;
      text-align: center;
      font-weight: 300;
      line-height: 1.2;
    }
  }
}

@media (min-width: $md-breakpoint) {
  .textItemList {
    flex-direction: row;


    .textItem {
      padding: 0 10px;
      text-align: center;

      &__content {
        padding: 0 10px;
      }

      &__title-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      &__title::after {
        content: "";
        
      }

      &__title {
        margin: 0 auto;


        @media (min-width: $lg-breakpoint) {
          width: 85%;
        }
      }
    }
  }
}