@import "../../styles/global";

.textItemList {
  display: flex;
  flex-direction: column;
  .textItem {
    width: 100%;
    margin-bottom: 25px;
    &__title {
      // border-bottom: 1px $border-color solid;
      padding-bottom: 15px;
    }
    // &__icon{
    //   display: none; /*no renderizar el icono en mobile*/
    // }
  }
}

@media (min-width: $md-breakpoint) {
  .textItemList__heading {
    text-align: center;
  }
  .textItemList {
    flex-direction: row;
    .textItem {
      width: 25%;
      padding: 0 10px;
      text-align: center;
      // &__icon {
      //   display: flex;
      //   position: absolute;
      //   /* Alinea el ícono al lado del bloque de texto */
      //   top: 50%;
      //   right: -20px;
      //   /* Ajusta la posición del ícono al lado derecho */
      //   transform: translateY(-50%);
      //   /* Centra verticalmente el ícono */
      // }
      &__title {
        width: 95%;
        margin: 0 auto;

        @media (min-width: $lg-breakpoint) {
          width: 85%;
        }
      }
    }
  }
}